<!-- salon.ejs -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salon - <%= nomSalon %></title>
</head>
<body>
    <h1>Bienvenue dans le salon <%= nomSalon %></h1>
    <div id="messageCont"></div>
    <form id="msgForm">
        <input type="text" id="msgInput" placeholder="Saisissez votre message">
        <button type="submit">Envoyer</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="chat.js"></script>
</body>
</html>
